<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="selenium demo" >

    <test verbose="10" name="demo1">
        <classes>
            <class name="com.test.testcases.BaiduSearch"></class>
            <class name="com.test.testcases.QQIndex"></class>
        </classes>
    </test>

</suite>